@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --grey: #2F4F4F;
    --white: #FFDEAD;
    --purple: #7B68EE;
}

ul {
    list-style: none;
}

h1, pre {
    float:left;
    clear: none;
    color: #2F4F4F;
    font-size:80px;
    font-family: 'Nanum Gothic';
}

body {
    margin: 0 auto;
}

.primary-nav {
    background-color: var(--white);
    color: navajowhite;
    padding: 10px;
    font-size: 45px;
    margin: 5px;
    font-family: 'Nanum Gothic';
}

.primary-nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.primary-nav__link {
    padding: 25px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.primary-nav__link:hover {
    color: white;
    text-shadow: 20px 20px #1D3557;
}
